.index__wrapper {
    /* background-color: rgb(248, 248, 248); */
    display: flex;
    flex-direction: column;
    height: 100%;
    /* width: 90%; */
    max-width: 1000px;
    margin: 0 auto;
}

.index__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 40px;
}

.index__heading-title {
    padding: 10px 15px;
    font-size: 24px;
}

.index__heading-button {
    padding: 15px 20px;
    color: black;
    background-color: rgb(255, 169, 41);
    border-radius: 5px;
    margin-right: 15px;
    font-size: 16px;
    border: none;
    text-decoration: none;
}

.index__container {
    display: flex;
    /* background-color: blue; */
    height: 100%;
}

.index__side-contents {
    width: 300px;
    /* background-color: pink; */
}

.search-form {
    padding: 0 15px;
}

.search-form__inner {
    display: flex;
    flex-direction: column;
}

.search-form__input-keyword {
    padding: 15px 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(222, 221, 220);
}

.search-form__button-search {
    padding: 10px 10px;
    margin-bottom: 25px;
    background-color: rgb(245, 200, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.search-form__label-sort {
    font-size: 20px;
    margin-bottom: 20px;
}

.search-form__select-sort {
    padding: 15px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgb(221, 220, 218);
}

.search-form__button-sort-reset {
    padding: 10px 10px;
    background-color: transparent;
    border-radius: 20px;
    width: 200px;
    border: 1px solid rgb(245, 194, 0);
    text-align:left;
    margin-bottom: 20px;
}

.search-form > hr {
    color:rgb(221, 220, 218);
}

.index__main-contents {
    /* display:flex; */
    flex-direction: column;
    height: 100%;
    /* width: 100%; */
    flex-grow: 1;
    /* background-color: green; */
    margin-right: 15px;
}

.products-list {
    /* margin-right: 15px; */
    height: 100%;
}

.products-list__items {
    flex-grow: 1;
    display: grid;
    /* height: 80%; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2%;
    margin-bottom: 25px;
}

.products-list__item {
    /* border: 1px solid black; */
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(221, 220, 218);
    /* max-width: 25vw; */
}

.products-list__form-img {
    padding: 0;
    width: 100%;
    border: none;
    cursor: pointer;
    /* background-color: red; */
}

.products-list__form-img > img {
    width: 100%;
    vertical-align: top;
}

.products-list__form-info {
    display:flex;
    justify-content: space-between;
    margin: 10px 0;
}

.products-list__form-info > span {
    padding: 10px;
}

.products-list__page {
    text-align: center;
}

svg.w-5.h-5 {
    width: 20px;
    height: 20px;
}